<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_25cf650d37127d0c0dae5da0b9168f50 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_25cf650d37127d0c0dae5da0b9168f50" ></div>
        
</body>
<script>
    
    
            var map_25cf650d37127d0c0dae5da0b9168f50 = L.map(
                "map_25cf650d37127d0c0dae5da0b9168f50",
                {
                    center: [28.6138954, 77.2090057],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_705e88cd6714481ee81a6c7a7dfb7ce5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_25cf650d37127d0c0dae5da0b9168f50);
        
    
            var marker_79cadd445e4167d351771082beb578e1 = L.marker(
                [28.624654, 77.200609],
                {}
            ).addTo(map_25cf650d37127d0c0dae5da0b9168f50);
        
    
        var popup_f8ac64436eb46503a91f751b5edcde3c = L.popup({"maxWidth": "100%"});

        
            
                var html_e66fc9b4d1dd80e692aefbfbb5ad6130 = $(`<div id="html_e66fc9b4d1dd80e692aefbfbb5ad6130" style="width: 100.0%; height: 100.0%;">Dr. Ram Manohar Lohia Hospital</div>`)[0];
                popup_f8ac64436eb46503a91f751b5edcde3c.setContent(html_e66fc9b4d1dd80e692aefbfbb5ad6130);
            
        

        marker_79cadd445e4167d351771082beb578e1.bindPopup(popup_f8ac64436eb46503a91f751b5edcde3c)
        ;

        
    
</script>
</html>